Millie/config.py
Millie/*.session
Millie/*.session-journal
Millie/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Millie/modules/helper_funcs/temp.txt
Millie/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Millie.session-journal
updates.txt
*.exe
